[buildout]
extensions =
    buildout-versions
versions = versions
parts = scripts
develop = .

[scripts]
recipe = z3c.recipe.scripts
dependent-scripts = true
eggs =
    bobtemplates.niteoweb [test]
    zest.releaser

[versions]
Jinja2 = 2.6
ScriptTest = 1.2
buildout-versions = 1.7
distribute = 0.6.34
nose-selecttests = 0.3
unittest2 = 0.5.1
z3c.recipe.scripts = 1.0.1
zc.buildout = 1.7.0
zc.recipe.egg = 1.3.2
zest.releaser = 3.46

# Required by:
# bobtemplates.niteoweb==0.1.1
mr.bob = 0.1a7

# Required by:
# nose-selecttests==0.3
nose = 1.2.1

# Required by:
# mr.bob==0.1a7
six = 1.2.0
